@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&family=Fira+Sans:wght@300&family=Lato:ital,wght@0,300;1,400&family=League+Spartan:wght@100;200&family=Roboto+Mono:wght@300&family=Ubuntu:wght@300&display=swap');

/* color:#465b52; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan' , sans-serif;
}

h1 {
    font-size: 50px;
    list-style: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    list-style: 654px;
    color: #222;
}   

h4{
    font-size: 20px;
    color: #222;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #222;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
}

/* headr start */

#header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 80px;
background-color: #d4d9dc;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
z-index: 999;
position: sticky;
top: 0;
left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;  
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;  
}

#navbar li a:hover,
#navbar li a.active {
    color: #6c7ae0;
}

#navbar li a.active::after,
#navbar li a:hover::after{
content: "";
width: 30%;
height: 2px;
background-color: #6c7ae0;
position: absolute;
bottom: -4px;
left: 20px;
} 

#mobil{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

/* Home page */

#hero{
    background-image: url('img/slide-01.jpg');
    height: 90vh;
    width: 100%;
    background-size: cover;
   background-position: top 25% right 0;
   padding: 0 80px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #6c7ae0;
}

#hero button{
    background-image: url('img/button.png');
    background-color: transparent;
    color: #222;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1); 
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

/* category */

.banner{
    width: 100%;
    margin-top: 30px;

}

.banner_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 1px solid #ebeced;
}

.banner_category{
    height: 50px;
    background-color: #ebeced;
    min-width: 180px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 33px;
}

.banner_category a{
    display: block;
    color: #222;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    width: 100%;
}

.banner_item:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

/* product */

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#product1 .pro{
    width:23% ;
    min-width:250px ;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
    
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 15px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25)
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #6c7ae0;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    line-height: 40px;
    background-color: #e8f6ea;
    color: #6c7ae0;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px

}
.container{
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.footer{
  background-color: #222;
  padding: 70px 0;
}

.footer-col ul{
    list-style: none;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #d4d9dc;
    text-transform:capitalize ;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #6c7ae0;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul:not(:last-child){
    margin-bottom: 10px;

}

.footer-col ul li a{
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 300;
    color: #bbb;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #6c7ae0;
    background-color: #fff;
}


 /* ======================================================= ABOUT US ====================================================== */
#page-header {
    /* background-image: url("./img/bg-01.jpg"); */
    background-color: #d4d9dc;
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{
color: #606063;

}


#about-head {
display: flex;
align-items: center;
}

#about-head img{
    width: 45%;
    height: auto;
    padding-left: 20px;
}

#about-head div{
    padding-left: 40px;
}

/* ======================================================= Contact US ====================================================== */

#contact-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contact-details .details{
width: 40%;
margin-left: 3vh;
}

#contact-details .details span,
#form-details form span{
font-size: 14px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 28px;
    line-height: 35px;
    padding: 20px 0;
    font-weight: bold;
}

#contact-details .details h3{
    font-size: 16px;
}

#contact-details .details li{
    list-style: none;
    padding:10px 0 ;
    display: flex;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    font-size: 14px;
    margin: 0;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 10vh;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    outline: none;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    color: #fff;
    background-color: #6c7ae0;
    width: 11vw;
    margin-bottom: 7vh;
   

}

/* ======================================================= Cart ====================================================== */
#cart{
    overflow-x: auto;
}
#cart table{
width: 100%;
border-collapse: collapse;
table-layout: fixed;
white-space: nowrap;
}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left:none ;
    border-right:none ;
}  

#cart table thead td{
    font-weight: 700;
    text-transform:uppercase ;
    font-size: 13px;
    padding: 18px 0;   
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody  td {
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
} 

#cart-add #coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}

 #coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button{
    color: #fff;
    background-color: #6c7ae0;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}


#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}



/* ##########################################/////Media Query 799px /////#########################################  */

 /* #/////Media Query Navbar /////#  */
 @media (max-width:799px){

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        padding: 80px 0 0 10px;
        transition: 0.5s;

    }

    #navbar.active{
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobil{
        display: flex;
        align-items: center;
    }

    #mobil i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        font-size: 24px;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
    }
    #lg-bag{
        display: none;
    }

    #hero {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
 }}

/* ##########################################/////Media Query 744px /////#########################################  */
 @media (max-width:477px){
    .section-p1{
        padding: 20px;
    }
    #header{
        padding: 10px 30px;
        
        }
        #hero {
            background-position: 48%;
            padding: 0 20px;
     }

     #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        height: auto;
        padding: 0 10px 20px 0;
    }

    #page-header h2{
        font-size: 27px;
    }

    #page-header p{
        font-size: 3vw;
    }

    /* Cart page */

    #cart-add {
      flex-direction: column;
    }

    #cart-add #coupon {
        width: 100%;
    }

    #subtotal {
        width: 100%;

    }
}

  /* #/////Media Query Footer /////#  */
@media (max-width:797px) {
    .footer-col{
        width: 25%;
        margin-bottom: 30px;
    }
    
}

@media (max-width:574px) {
    .footer-col{
        width: 100%;
      
    }
    
}


